{
  "include": [
    "src/**/*.js",
    "src/**/*.jsx"
  ],
  "exclude": [
    "test/**",
    "test/.scripts/**",
    "node_modules/**",
    "build/**",
    "**/*.spec.js"
  ],
  "extension": [
    ".js",
    ".jsx"
  ],
  "reporter": [
    "text",
    "lcov"
  ],
  "all": true,
  "instrument": false,
  "sourceMap": false
}